<span class="word-carousel-container">
    <span class="width-reference" aria-hidden="true">
        @for (word of words(); let i = $index; track i) {
        @if (i === 0) {
        {{ word }}
        }
        }
    </span>

    @for (word of words(); let i = $index; track i) {
    <span class="carousel-word" [class.exiting]="isWordExiting(i)" [class.entering]="isWordEntering(i)">
        @for (letter of word.split(''); let letterIdx = $index; track letterIdx) {
        <span class="letter" [style.--letter-delay]="letterIdx * 80 + 'ms'">
            @if (letter === ' ') {
            &nbsp;
            } @else {
            {{ letter }}
            }
        </span>
        }
    </span>
    }
</span>